<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hanabi</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript" src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="lounge">
            <h4>Welcome to</h4>
            <div id="pre-game">
                <button id="start" class="start"> Start Game </button>
                <p id="wait" class="start">Waiting for second player...</p>
            </div>
        </div>
        <div id="board">
            <ul id="player1cards">
                <li class="card p1">
                    <p id="cp00"></p>
                    <button class="colorHint"></button>
                    <button class="numberHint"></button>
                </li>
                <li class="card p1">
                    <p id="cp01"></p>
                    <button class="colorHint"></button>
                    <button class="numberHint"></button>
                </li>
                <li class="card p1">
                    <p id="cp02"></p>
                    <button class="colorHint"></button>
                    <button class="numberHint"></button>
                </li>
                <li class="card p1">
                    <p id="cp03"></p>
                    <button class="colorHint"></button>
                    <button class="numberHint"></button>
                </li>
                <li class="card p1">
                    <p id="cp04"></p>
                    <button class="colorHint"></button>
                    <button class="numberHint"></button>
                </li>
            </ul>
            <div id="fireworks">
                <ul id="fireworkscards">
                    <li class="emptyCard">
                        <p></p>
                    </li>
                    <li class="emptyCard">
                        <p></p>
                    </li>
                    <li class="emptyCard">
                        <p></p>
                    </li>
                    <li class="emptyCard">
                        <p></p>
                    </li>
                    <li class="emptyCard">
                        <p></p>
                    </li>
                </ul>
                <div id="tokens">

                </div>
            </div>
            <div id="player2hand">
                <ul id="player2cards">
                    <li class="card">
                        <p></p>
                    </li>
                    <li class="card">
                        <p></p>
                    </li>
                    <li class="card">
                        <p></p>
                    </li>
                    <li class="card">
                        <p></p>
                    </li>
                    <li class="card">
                        <p></p>
                    </li>
                </ul>
                <div id="inform">
                </div>
            </div>
            <div id="turn">
                <h1></h1>
            </div>
        </div>
    </body>
</html>
