<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hanabi</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type ="text/javascript" src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="lounge">
            <h4>Welcome to</h4>
            <div id="pre-game">
                <button id="start" class="start"> Start Game </button>
                <p id="wait" class="start">Waiting for second player...</p>
            </div>
        </div>
        <div id="board">
            <div id="left-board">
                <div class="side-label">
                    <p>Partner's Hand</p>
                </div>
                <ul id="player1Hand">
                    <li class="card p1">
                        <p id="cp00"></p>
                        <button class="colorHint"></button>
                        <button class="valueHint"></button>
                    </li>
                    <li class="card p1">
                        <p id="cp01"></p>
                        <button class="colorHint"></button>
                        <button class="valueHint"></button>
                    </li>
                    <li class="card p1">
                        <p id="cp02"></p>
                        <button class="colorHint"></button>
                        <button class="valueHint"></button>
                    </li>
                    <li class="card p1">
                        <p id="cp03"></p>
                        <button class="colorHint"></button>
                        <button class="valueHint"></button>
                    </li>
                    <li class="card p1">
                        <p id="cp04"></p>
                        <button class="colorHint"></button>
                        <button class="valueHint"></button>
                    </li>
                </ul>
                <div id="fireworks">
                    <div class="side-label">
                        <p>Firework Assembly</p>
                    </div>
                    <ul id="fireworkscards">
                        <li class="emptyCard">
                            <p id="cf0"></p>
                        </li>
                        <li class="emptyCard">
                            <p id="cf1"></p>
                        </li>
                        <li class="emptyCard">
                            <p id="cf2"></p>
                        </li>
                        <li class="emptyCard">
                            <p id="cf3"></p>
                        </li>
                        <li class="emptyCard">
                            <p id="cf4"></p>
                        </li>
                    </ul>
                </div>
                <div id="turn">
                    <h1></h1>
                </div>
            </div>
            <div id="right-board">
                <div id="played-card">
                    <div class="emptyCard">
                        <p></p>
                    </div>
                    <p id="info-box"></p>
                </div>
                <ul>
                    <li>
                        <p>Hints:</p>
                        <p></p>
                    </li>
                    <li>
                        <p>Busts:</p>
                        <p></p>
                    </li>
                    <li>
                        <p>Cards Remaining:</p>
                        <p></p>
                    </li>
                </ul>
                <div id="player2hand">
                    <div>
                        <div class="side-label">
                            <p>Your Hand</p>
                        </div>
                        <ul id="player2cards">
                            <li class="card p2">
                                <p id="cp10"></p>
                            </li>
                            <li class="card p2">
                                <p id="cp11"></p>
                            </li>
                            <li class="card p2">
                                <p id="cp12"></p>
                            </li>
                            <li class="card p2">
                                <p id="cp13"></p>
                            </li>
                            <li class="card p2">
                                <p id="cp14"></p>
                            </li>
                        </ul>
                    </div>
                    <ul>
                        <li>
                            <button id="play-card" class="action-button" type="button" name="play">
                                Play Card
                            </button>
                        </li>
                        <li >
                            <button id="discard-card"  class="action-button" type="button" name="discard">
                                Discard Card
                            </button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>
